*{
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  margin: -8px;
  padding-left: 10px;
  padding-right: 5px;
}


/* Estilização geral da Navbar */
.navbar {
  background-color: #007bff; 
  padding: 20px;
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

.navbar-brand a {
  font-size: 24px; 
  color: white; 
  text-decoration: none; 
  font-weight: bold; 
  transition: color 0.3s; 
}

.navbar-brand a:hover {
  color: #e3e3e3; 
}

/* Estilização do menu */
.navbar-menu {
  list-style: none; 
  display: flex;
  margin: 0; 
  padding: 0; 
}

.navbar-menu li {
  margin-left: 20px; 
}

.navbar-menu a {
  color: white;
  text-decoration: none; 
  padding: 8px 15px; 
  border-radius: 4px; 
  transition: background-color 0.3s, color 0.3s; 
}

.navbar-menu a:hover {
  background-color: rgba(255, 255, 255, 0.2); 
  color: #fff; 
}

.welcome {
  display: flex; 
  align-items: center; 
}

.welcome span {
  margin-left: 10px; 
  font-size: 14px; 
  color: rgba(255, 255, 255, 0.8); 
}